<h1>Flight Booking Confirmation</h1>

<p>Thank you for booking flight no <%= @booking.flight_id %> with Theta Airlines.</p>

<p>Your flight booking is confirmed and ticket has been issued.</p>

<h4>Flight Details:</h4>

<% @booking.passengers.each do |passenger| %>
<div>
  <div>
    <h3>Departure Airport: <%= @booking.flight.depart_airport.code %>  to   Arrival Airport: <%= @booking.flight.arrival_airport.code %></h3>
      <ul>
        <li>Passenger: <%= passenger.name %></li>
        <li>Flight ID: <%= @booking.flight_id %></li>
        <li>Flight Date: <%= @booking.flight.formatted_date %></li>
        <li>Length: <%= @booking.flight.duration %>mins</li>
      </ul>
    </div>
  </div>
  <% end %>
