<div class="card text-center ">
  <div class="card-header bg-secondary text-white">
    <h1>THETA AIRLINES</h1>
  </div>
  <div class="card-body bg-light">
    <h3 class="card-title mb-4">Search for Flights</h3>

<%= form_with url: "/flights", method: :get do |form|%>

  <div class="form-row d-flex justify-content-center">
    <div class="col">
      <%= form.label :depart_airport_id, "Departure:" %>
      <%= form.collection_select(:depart_airport_id, Airport.all.order(:code), :id, :code, include_blank: '', class: "form-control") %>
    </div>
        <div class="col">
          <%= form.label :arrival_airport_id, "Arrival:" %>
      <%= form.collection_select(:arrival_airport_id, Airport.all.order(:code), :id, :code, include_blank: '', class: "form-control") %>
    </div>
        <div class="col">
          <%= form.label :passenger_count, "Passenger :" %>
      <%= form.select(:ticket, 1..4, include_blank: '', class: "form-control") %>
    </div>
        <div class="col">
          <%= form.label :depart_time, "Date:" %>
      <%= form.collection_select(:depart_time, Flight.select(:depart_time).distinct.order(:depart_time), :depart_time, :formatted_date, include_blank: '', class: "form-control") %>
    </div>
      <div>
    <%= form.submit "Search Flights", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
