<%= form_with url: "/flights", method: :get do |form| %>

  <div>
    <%= form.collection_select(:depart_airport_id, Airport.all.order(:code), :id, :code, include_blank: '') %>
    <%= form.collection_select(:arrival_airport_id, Airport.all.order(:code), :id, :code, include_blank: '') %>
    <%= form.select(:tickets, 1..4, include_blank: '') %>
    <%= form.collection_select(:depart_time, Flight.select(:depart_time).distinct.order(:depart_time), :depart_time, :formatted_date, include_blank: '') %>
    <%= form.submit "Search Flights" %>
  </div>

<% end %>
