<% if @available_flights %>
  <div class="flight-results">
    <h2>Available Flights:</h2>
    <%= form_with url: "bookings/new/", method: "get", local: true do |f| %>
      <%= f.hidden_field :ticket, :value => params[:ticket] %>
      <%= f.collection_radio_buttons :flight_id, @available_flights, :id, :formatted_date do |option| %>
        <p>
          <%= option.radio_button %>
          <%= option.label %>
        </p>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
